.footer {
  background-color: $secondary--color-dark-cyan;
  color: #fff;
  padding: 1rem;
  a {
    color: #fff;
  }
  &--logo {
  }
  &--details {
    .info {
      &--location {
      }
      &--tel {
      }
      &--mail {
      }
      &--text {
      }
    }
  }
  &--menus {
  }
  &--links {
  }
  &--list {
  }
  &--link {
  }
  .copyright--text {
  }
  .social--links {
  }
}
