.header {
  min-height: 100vh;
  padding: 2rem 0;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $secondary--color-pale-cyan;
  display: grid;
  &--nav {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // // align-content: space-between;
    // align-items: center;
    // padding: 0 1rem;
    &-btn {
      //   justify-self: end;
      //   font-weight: 700;
      //   font-size: 0.6rem;
      //   background-color: #fff;
      //   padding: 0.5rem 1.5rem;
      //   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
  &--logo {
    width: 6.8rem;
  }
  &--container {
  }
  &--details {
    &-btn {
    }
  }
  &--heading {
  }
  &--text {
  }
  &--hero-image {
  }
}
