.main {
  display: grid;
  //   align-content: center;
  grid-row-gap: 2.5rem;
  padding: 4rem 1rem 7rem 1rem;
  @media only screen and (min-width: $bp-md) {
    padding: 4rem;
  }

  &--card {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 0 0.3rem 0.186rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    @media only screen and (min-width: $bp-md) {
      // display: grid;
      // height: 15rem;
      padding: 4rem;
      flex-direction: row;
      // grid-template-columns: max-content max-content;
      text-align: left;
      justify-content: center;
    }
    &--details {
      @media only screen and (min-width: $bp-md) {
        // display: grid;
        align-self: center;
        width: 50%;
        justify-content: space-between;
        margin-left: 4rem;
      }
    }
    &-heading {
      margin: 2rem 0 1rem 0;
      @media only screen and (min-width: $bp-md) {
        font-size: 1.5rem;
      }
    }
    // &--details {
    // }
    &-image {
      order: -1;
      @media only screen and (min-width: $bp-md) {
        // display: grid;
        order: initial;

        width: 20%;
        // height: 40%;
        height: auto;
        align-self: center;
      }
    }
  }
}
.card--text {
  color: $secondary--color-grayish-blue;
  font-size: 0.8rem;
  @media only screen and (min-width: $bp-md) {
    // display: grid;
    font-size: 0.99rem;
    max-width: 27rem;
  }
}
.subscribe {
  margin-inline: 1rem;
  text-align: center;
  box-shadow: 0 0 0.3rem 0.186rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transform: translateY(3rem);
  padding: 1.7rem;
  -webkit-transform: translateY(3rem);
  -moz-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  -o-transform: translateY(3rem);
  background-color: white;
  @media only screen and (min-width: $bp-md) {
    max-width: 50%;
    margin-inline: auto;
  }
  &--heading {
    font-size: 0.91rem;
    margin-bottom: 1rem;
  }
  // &--btn {
  // }
}
