.main {
  display: grid;
  //   align-content: center;
  grid-row-gap: 2.5rem;
  padding: 4rem 1rem 7rem 1rem;

  &--card {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 0 0.3rem 0.186rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    &-heading {
      margin: 2rem 0 1rem 0;
    }
    // &--details {
    // }
    &-image {
      order: -1;
    }
  }
}
.card--text {
  color: $secondary--color-grayish-blue;
  font-size: 0.8rem;
}
.subscribe {
  margin-inline: 1rem;
  text-align: center;
  box-shadow: 0 0 0.3rem 0.186rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 2rem;

  &--heading {
    font-size: 0.91rem;
    margin-bottom: 1rem;
  }
  // &--btn {
  // }
}
